html,body {
	height: 100%;
	margin: 0;
}
.container {
	display: flex;/* flex bol dotor ni baigaa elmentuud yaaj bairlahiig nivzaaj ugnu(tsuvarsan elmentuudiig hevte yu bosoo bairluulah)*/
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 100%;
}
.container p{
	width: 100px;
	min-height: 100px;
	text-align: center;
    border-top: 1px solid #687291 ;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 40px;
	margin: auto;
}
.container > p:nth-child(odd) {
	background-color: #dfe1e7;
}
.container > p:nth-child(even) {
	background-color: #eeeff2;
}
.container >p:last-child {
	background-color: #687291;
	border: 4px solid black;
	display: flex;/*flex dotor baigaa buh elementuud ni block boldog uchraas golluulahad uuniig ashiglana*/
	align-items: center;
	justify-content: center;
}